<div class="card border-info mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-info">
    <h5 class="card-title">Listado de clientes</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-info" [routerLink]="['/clientes/form']">Crear Cliente</button>
    </div>
    <div class="alert alert-info" *ngIf="clientes?.length==0">
    No hay registros en la base de datos.
    </div>
    <table class="table table-bordered table-striped text-info" *ngIf="clientes?.length>0">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Fecha</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{cliente.id}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.createAt}}</td>
        <td>
          <button type="button" name="editar" class="btn btn-info" routerLink="/clientes/form/{{cliente.id}}">Editar</button>
        </td>
        <td>
          <button type="button" name="eliminar" class="btn btn-danger" (click)="delete(cliente)">Eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
