<div class="card bg-dark text-white">
  <div class="card-header"> {{titulo}}</div>
  <div class="card-body">
    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label id="nombre" for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="cliente.nombre" required="true" minlength="4">
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              El nombre no puede estar vacío!
            </div>
            <div *ngIf="nombre.errors.minlength">
              El nombre debe tener al menos 4 caracteres!
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label id="apellido" for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="apellido" [(ngModel)]="cliente.apellido">
        </div>
      </div>

      <div class="form-group row">
        <label id="email" for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="cliente.email" required="true" email="true">
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              El email no puede estar vacío!
            </div>
            <div *ngIf="email.errors.email">
              Debe ser un email valido!
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-info" role="button" (click)="create()" *ngIf="!cliente.id else elseBlock"
                  [disabled]="!clienteForm.form.valid">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-info" role="button" (click)="update()" [disabled]="!clienteForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
